<div class="dropdown">
  <button class="btn btn-secondary dropdown-toggle" type="button" id="user-dropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    Welcome {{user.name}}
  </button>
  <div class="dropdown-menu dropdown-menu-right" aria-labelledby="user-dropdown">
    {{#if user.favorites}}
      {{#each user.favorites}}
        <button class="dropdown-item favorite-item" data-id={{_id}} type="button">{{title}}</button>
      {{/each}}
    {{else}}
      <button class="dropdown-item" type="button">No Favorites Here</button>
    {{/if}}
  </div>
</div>
