<div class="news" role="tablist">
  <label id="headline-list-head">
    <h2> Latest Headlines </h2>
  </label>
  <div id="headline-list">
    {{#each headline}}
      <div class="card">
        <div id="article-{{_id}}" class="card-header" role="tab">
          <h3 class="mb-0"> {{title}} </h3>
        </div>
      </div>
    {{/each}}
  </div>
</div>
