<!-- Handlebars Article Headline Template -->
<div class="news" role="tablist">
  <label id="headline-list-head">
    <h2> Latest Headlines </h2>
  </label>

  <div id="headline-list">
    {{#each headline}}
      <div class="card">
        <div class="card-header headline js-headline" data-id="{{_id}}" role="tab">
          <h5> {{title}} </h5>
        </div>
      </div>
    {{/each}}
  </div>
</div>
